.footer-bg {
    background-color: #481C1E;
    padding: 80px 20px 40px 20px;
    color: #fff;
    overflow: hidden;
}

.footer {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas no PC */
}

.titulo-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 200;
    
}

/* --- BLOCO CONTATO E REDES --- */
.contato-bloco {
    margin-bottom: 40px;
}

.whats-info a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.texto-info {
    font-size: 14px;
    font-weight: 600;
}

.icones-redes {
    display: flex;
    gap: 20px;
}

.icones-redes a:hover, .whats-info a:hover {
    opacity: 0.8;
}

/* --- BLOCO MAPA E ENDEREÇO --- */
.atendimento-container {
    display: flex;
    flex-direction: column;
}

.texto-atendimento {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.mapbox {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.mapbox iframe {
    width: 100%;
    height: 100%;
    /* Removido filtros para manter cor original do Google */
}

/* Container que agrupa a linha e o texto */
.footer-bottom {
    width: 100%;
    clear: both; /* Garante que fique abaixo dos blocos flutuantes */
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

/* A barrinha fina */
.linha-separadora {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); /* Linha branca bem suave */
    width: 90%; /* Largura da linha */
    max-width: 1200px;
    margin: 0 auto 20px auto; /* Centraliza e dá espaço para o texto */
}

/* Estilo do texto */
.copyright-texto , .copyright-texto-mobile {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5); /* Texto mais discreto que o resto */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.copyright-texto-mobile {
    display: none;
}

/* --- RESPONSIVIDADE (MOBILE) --- */
@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr; /* Tudo em uma coluna */
        text-align: center;
    }
    .footer-bg {
        background-image: 
        url('../img/marca-branca.png');
        background-repeat: no-repeat;
        background-position: center 300px; 
        background-size: 200px, 200px;
    }

    .whats-info a, .icones-redes {
        justify-content: center; /* Alinha ícones no meio */
    }

    .whats-info a {
        text-align: left; /* Mantém o texto do Whats organizado */
    }

    .atendimento-container {
        align-items: center;
        margin-top: 80px;
    }

    .mapbox {
        max-width: 100%;
        height: 220px;
    }
    .titulo-footer {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .contato-container {
    margin-bottom: 80px;
    }
    .copyright-texto-mobile {
    display: contents;
    font-size: 14px;
    }
    .copyright-texto {
    display: none;
    }
}