.footer-bg {
    background-color: #481C1E;
    color: #fff;
    overflow: hidden;
}

.footer {
    max-width: 1100px;
    margin: 0 auto;   
    padding: 80px 20px 0px 20px;    
}
.contato-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

.titulo-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 10px;
}

/* --- BLOCO CONTATO E REDES --- */
.contato-bloco {
    margin-bottom: 40px;
}

.whats-info a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.texto-info {
    font-size: 14px;
    font-weight: 600;
}

.icones-redes {
    display: flex;
    gap: 20px;
}

.icones-redes a:hover, .whats-info a:hover {
    opacity: 0.8;
}

/* --- BLOCO MAPA E ENDEREÇO --- */
.atendimento-container {
    display: flex;
    flex-direction: column;
}

.texto-atendimento {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    opacity: 0.9;
}

/* Container que agrupa a linha e o texto */
.footer-bottom {
    width: 100%;
    clear: both; /* Garante que fique abaixo dos blocos flutuantes */
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

/* Dev */
.footer-dev {
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.05); /* Um tom levemente diferente do fundo */
    border-top: 1px solid rgba(255, 255, 255, 0.05); /* Linha divisória quase imperceptível */
    text-align: center;
}
.dev-texto {
    font-family: 'Montserrat', sans-serif; /* Ou a fonte que você estiver usando */
    font-size: 10px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5); /* Texto meio apagadinho para ser elegante */
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
.dev-link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease;
    padding: 2px 5px;
}
.dev-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff; /* Ou a cor principal do site */
    transition: width 0.3s ease;
}
.dev-link:hover {
    color: #fff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}
.dev-link:hover::after {
    width: 100%;
}
.code-icon::before {
    content: '</>';
    font-family: monospace;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.linha-separadora {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); /* Linha branca bem suave */
    width: 90%; /* Largura da linha */
    max-width: 1200px;
    margin: 0 auto 20px auto; /* Centraliza e dá espaço para o texto */
}

.copyright-texto , .copyright-texto-mobile {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5); /* Texto mais discreto que o resto */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.local-info {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
}
/* --- RESPONSIVIDADE (MOBILE) --- */
@media (max-width: 800px) {
    .footer {
        text-align: center;
    }
    .footer-bg {
        background-image: 
        url('../img/marca-branca.png');
        background-repeat: no-repeat;
        background-position: center 300px; 
        background-size: 200px, 200px;
    }

    .whats-info a, .icones-redes {
        justify-content: center; /* Alinha ícones no meio */
    }

    .whats-info a {
        text-align: left; /* Mantém o texto do Whats organizado */
    }

    .atendimento-container {
        align-items: center;
        margin-top: 80px;
    }
    .titulo-footer {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .contato-container {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr; /* Tudo em uma coluna */
    }
    .copyright-texto {
    font-size: 15px;
    max-width: 40ch;
    margin: 0 auto;
    }
}