.header {
    max-width: 1200px;
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 80px;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 40px;
    a {
        color: #fff;
    }
}