@import 'home.css';
@import 'sobre.css';
@import 'para.css';
@import 'conteudo.css';
@import 'faq.css';
@import 'footer.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Roboto:wght@100;200;300;400&display=swap" rel="stylesheet');

html, body {
    margin: 0px;
    font-family: 'Poppins', Helvetica, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-medio,.titulo-medio1 {
    font-size: 60px;
    line-height: 1.125;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.branco {
    color: #fff;
}

.preto {
    color: #000;
}

.roxo {
    background-color: #481C1E;
}

@media (max-width: 1000px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 56px;
    padding-top: 40px;
    margin-bottom: 40px;
}

}
@media (max-width: 700px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 40px;
    padding-top: 30px;
}
}