@import 'home.css';
@import 'sobre.css';
@import 'para.css';
@import 'conteudo.css';
@import 'faq.css';
@import 'footer.css';
@import 'estilos.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Roboto:wght@100;200;300;400&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Funnel+Display:wght@300..800&family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0px;
    font-family: "Montserrat", "Poppins", sans-serif;
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.titulo-medio,.titulo-medio1 {
    font-size: 64px;
    line-height: 1.125;
    font-family: "Montserrat";
    font-weight: 100;
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-medio1 {
    padding: 0 20px;
}

.branco {
    color: #fff;
}

.preto {
    color: #000;
}

.roxo {
    background-color: #481C1E;
}

@media (max-width: 1000px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 56px;
    padding-top: 40px;
    margin-bottom: 40px;
}

}
@media (max-width: 700px) {
    .titulo-medio,.titulo-medio1 {
    font-size: 40px;
    padding-top: 30px;
    font-family: "Montserrat";
    font-weight: 500;
}
}
#btnTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Estilo Meio Invisível */
    background-color: rgba(0, 0, 0, 0.2); /* Bem clarinho */
    color: rgba(255, 255, 255, 0.6); /* Seta meio transparente */
    backdrop-filter: blur(4px); /* Efeito de vidro opcional */
    
    border-radius: 50%;
    transition: all 0.3s ease;
    
    /* Começa escondido */
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

/* Quando o JS ativar a exibição */
#btnTop.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Hover: Fica mais visível */
#btnTop:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    #btnTop {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
}